.header {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  background: yellow;
  &__nav {
    display: flex;
    justify-content: space-between;
  }
}

.login__img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
