.modal {
  &__wrap {
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
  table {
    margin: 50px 0;
    width: 100%;
  }
  &__comment {
    padding: 30px 0;
  }
}

.comment {
  &__title {
    padding: 20px 0;
  }
  &__input {
    width: 220px;
    padding: 10px 0;
  }
}
