// .totalTimeline {
//   &__list {
//     display: flex;
//     justify-content: space-between;
//     margin: 10px;
//     cursor: pointer;
//   }
//   &__list:hover {
//     background: #ccc;
//   }
//   &__list li {
//     font-size: 20px;
//   }
// }

.total__wrap2 {
  border: none;
  &__table {
    border: 1px solid #000000 !important;
    border-radius: 30px;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  &__table th,
  td {
    padding: 15px;
    background: #ddd;
    border: none;
    border-bottom: 2px solid white;
  }
}
