.modal {
  &__wrap {
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
  &__table {
    margin: 100px 0;
    width: 100%;
  }
  &__comment {
    padding: 30px 0;
  }
}

.comment {
  &__title {
    padding: 20px 0;
  }
  &__input {
    width: 220px;
    padding: 10px 0;
  }
  &__sumit {
    width: 60px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: -0.5px;
    border-radius: 3px;
    color: #fff;
    border: none;
    background: blue;
    margin-left: 5px;
    cursor: pointer;
  }
  &__sumit:hover {
    background: red;
  }
}

// display: inline-block;
//
//
//     background: #111;
//     text-align: center;
//     padding: 0;
