.title {
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 800px;
  list-style: none;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 190px;
  text-align: center;
  margin-right: 10px;
  height: 80px;
}
.item:last-child {
  margin-right: 0;
}
